# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
/build
.env

# IntelliJ/WebStorm
.idea/

# VS Code
.vscode/

# Project specific
mikan-firefox.zip
mikan-chrome.zip
errors.txt
mikan_workspace.zip
